In [3]:
import numpy as np
import pandas as pd

In [4]:
x = {'a':1, 'b':2}

s0 = pd.Series(
    data=x,
    name="Hola",
)

s0

a    1
b    2
Name: Hola, dtype: int64

In [23]:
s0.name

'Hola'

In [68]:
s0 = pd.Series(
    data=np.arange(0,1,0.01),
    name="Bleb",
)
s1 = pd.Series(
    data=np.arange(0,1,0.01) * 2,
    name='2Bleb'
)

In [89]:
s_list = [s0, s1]
name_series = [s.name for s in s_list]
df = pd.DataFrame(
    data=np.array([s for s in s_list]).T,
    columns=name_series,
)

In [5]:
N = 5

In [6]:
pd.DataFrame(
    data=np.array([np.arange(0,1,0.01)*_ for _ in range(N)]).T,
    columns=[f"Serie_{int(_)}" for _ in range(N)],
)

    Serie_0  Serie_1  Serie_2  Serie_3  Serie_4
0       0.0     0.00     0.00     0.00     0.00
1       0.0     0.01     0.02     0.03     0.04
2       0.0     0.02     0.04     0.06     0.08
3       0.0     0.03     0.06     0.09     0.12
4       0.0     0.04     0.08     0.12     0.16
..      ...      ...      ...      ...      ...
95      0.0     0.95     1.90     2.85     3.80
96      0.0     0.96     1.92     2.88     3.84
97      0.0     0.97     1.94     2.91     3.88
98      0.0     0.98     1.96     2.94     3.92
99      0.0     0.99     1.98     2.97     3.96

[100 rows x 5 columns]

In [7]:
N = 100
serie0 = pd.Series(
    data=np.linspace(0,1,N),
    index=[f"#{int(_)}" for _ in range(N)],
    name='Bleb',
)

In [8]:
serie0

#0     0.000000
#1     0.010101
#2     0.020202
#3     0.030303
#4     0.040404
         ...
#95    0.959596
#96    0.969697
#97    0.979798
#98    0.989899
#99    1.000000
Name: Bleb, Length: 100, dtype: float64

In [9]:
serie0.at["#10"]

0.10101010101010102

In [10]:
serie0[10]

0.10101010101010102

In [131]:
serie0.axes

[Index(['#0', '#1', '#2', '#3', '#4', '#5', '#6', '#7', '#8', '#9', '#10',
        '#11', '#12', '#13', '#14', '#15', '#16', '#17', '#18', '#19', '#20',
        '#21', '#22', '#23', '#24', '#25', '#26', '#27', '#28', '#29', '#30',
        '#31', '#32', '#33', '#34', '#35', '#36', '#37', '#38', '#39', '#40',
        '#41', '#42', '#43', '#44', '#45', '#46', '#47', '#48', '#49', '#50',
        '#51', '#52', '#53', '#54', '#55', '#56', '#57', '#58', '#59', '#60',
        '#61', '#62', '#63', '#64', '#65', '#66', '#67', '#68', '#69', '#70',
        '#71', '#72', '#73', '#74', '#75', '#76', '#77', '#78', '#79', '#80',
        '#81', '#82', '#83', '#84', '#85', '#86', '#87', '#88', '#89', '#90',
        '#91', '#92', '#93', '#94', '#95', '#96', '#97', '#98', '#99'],
       dtype='object')]

In [133]:
serie0.dtypes

dtype('float64')

In [138]:
serie0.flags

In [139]:
serie0.hasnans

False

In [140]:
serie0

#0     0.000000
#1     0.010101
#2     0.020202
#3     0.030303
#4     0.040404
         ...
#95    0.959596
#96    0.969697
#97    0.979798
#98    0.989899
#99    1.000000
Name: Bleb, Length: 100, dtype: float64

In [142]:
serie0[-1] = np.NAN

In [144]:
serie0.hasnans

True

In [148]:
serie0.iat[-1]

nan

In [159]:
serie0.iloc[0:1]

#0    0.0
Name: Bleb, dtype: float64

In [157]:
serie0.iat[0]

0.0

In [171]:
serie0[-1] = 1.00

In [173]:
serie0.is_monotonic_decreasing

False

In [174]:
serie_string = pd.Series(
    data=[f"a{int(_)}" for _ in range(N)],
    index=[f"#{int(_)}" for _ in range(N)],
    name="Cosas",
)

In [11]:
serie_string.is_monotonic_increasing

NameError: name 'serie_string' is not defined

In [12]:
serie0.is_unique

True

In [18]:
serie0

#0     0.000000
#1     0.000000
#2     0.020202
#3     0.030303
#4     0.040404
         ...
#95    0.959596
#96    0.969697
#97    0.979798
#98    0.989899
#99    1.000000
Name: Bleb, Length: 100, dtype: float64

In [34]:
serie0.loc[["#0", "#90"]]

#0     0.000000
#90    0.909091
Name: Bleb, dtype: float64

In [14]:
serie0[1] = 0.0

In [17]:
serie0.iloc[0]

0.0

In [192]:
serie0.at["#90"]

0.9090909090909092

In [35]:
serie0.nbytes

800

In [36]:
serie0.ndim

1

In [37]:
serie0.size

100

In [38]:
serie0.shape

(100,)

In [39]:
serie0

#0     0.000000
#1     0.000000
#2     0.020202
#3     0.030303
#4     0.040404
         ...
#95    0.959596
#96    0.969697
#97    0.979798
#98    0.989899
#99    1.000000
Name: Bleb, Length: 100, dtype: float64

In [49]:
filter = serie0.between(
    left=0.1,
    right=0.2,
)

In [68]:
serie0_f = serie0 * filter

In [64]:
s1 = [x for x in serie0_f.tolist() if x!= 0]

In [72]:
serie0_f.to_numpy()

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.1010101 , 0.11111111, 0.12121212, 0.13131313, 0.14141414,
       0.15151515, 0.16161616, 0.17171717, 0.18181818, 0.19191919,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ])

In [67]:
serie0_f.unique

<bound method Series.unique of #0     0.0
#1     0.0
#2     0.0
#3     0.0
#4     0.0
      ...
#95    0.0
#96    0.0
#97    0.0
#98    0.0
#99    0.0
Name: Bleb, Length: 100, dtype: float64>

In [77]:
serie0.sort_values(
    ascending=False,
)

#99    1.000000
#98    0.989899
#97    0.979798
#96    0.969697
#95    0.959596
         ...
#4     0.040404
#3     0.030303
#2     0.020202
#1     0.000000
#0     0.000000
Name: Bleb, Length: 100, dtype: float64

In [79]:
serie0.min()

0.0

In [80]:
serie0.max(
    
)

1.0

In [81]:
serie0.argmax()

99

In [82]:
serie0.argmin()

0

In [86]:
serie0.index[serie0.argmax()]

'#99'

In [89]:
serie0.memory_usage()

5768